@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  color: #333;
  background: linear-gradient(-45deg, #fff, #f0eefd, #d2ecf7, #f0e9f9, #fff);
  background-size: 300% 300%;
  animation: lateralflow 15s ease infinite;
  height: 100vh;
  transition-duration: 1000;
  transition-timing-function: cubic-belzier(0.4, 0, 0.2, 1;);
}

.dark {
  color: #e9e9e9;
  background: linear-gradient(-45deg, #000, #1f0e1d, #020c27, #200919, #000);
  background-size: 300% 300%;
  animation: lateralflow 15s ease infinite;
  height: 100vh;
  transition-duration: 1000;
  transition-timing-function: cubic-belzier(0.4, 0, 0.2, 1;);
}

@keyframes lateralflow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
